# Copy this file to /etc/systemd/system/
#
# Install:           sudo systemctl daemon-reload
# Enable auto-start: sudo systemctl enable gamesdonequickcalendarfactory.service
# Start:             sudo systemctl start gamesdonequickcalendarfactory.service
# Check status:      sudo systemctl status gamesdonequickcalendarfactory.service
# Read logs:         sudo journalctl -u gamesdonequickcalendarfactory.service
#
# Source: https://devblogs.microsoft.com/dotnet/net-core-and-systemd/

[Unit]
Description=Games Done Quick Calendar Factory

[Service]
Type=notify
ExecStart=/usr/local/bin/GamesDoneQuickCalendarFactory
WorkingDirectory=/usr/local/bin/
Restart=on-failure

[Install]
WantedBy=multi-user.target