name: .NET

on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true
  
jobs:
  build:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
      
    env:
      ProjectName: GamesDoneQuickCalendarFactory

    runs-on: windows-latest

    steps:
    - name: Clone
      uses: actions/checkout@v3
        
    - name: Publish
      run: dotnet publish --configuration Release -p:PublishSingleFile=true --runtime win-x64 --self-contained false --verbosity normal
      
    - name: Generate calendar
      run: .\${{ env.ProjectName }}\bin\Release\net6.0\win-x64\publish\${{ env.ProjectName }}.exe
      
    - name: Configure GitHub Pages
      uses: actions/configure-pages@v2
      
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ${{ env.ProjectName }}.exe
        path: ${{ env.ProjectName }}\bin\Release\net6.0\win-x64\publish\${{ env.ProjectName }}.exe
        if-no-files-found: error

    - name: Prepare Pages files
      run: |
        mkdir pages
        cp gdq.ics pages

    - name: Upload pages
      uses: actions/upload-pages-artifact@v1
      with:
        path: pages
        
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v1
